<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="SiteUrlFromAppConfig" value="https://billstatus.ls.state.ms.us/2023/pdf/all_measures/notdead.xml"/>
    <add key="USStateList" value="UT, WV, MS" />
  </appSettings>
</configuration>